.single_blog b{
    color: var(--blue-opacity-more)
}
.blog_description a{
    color: var(--blue);
}
.blog_description a:hover{
    text-decoration: underline;
}
.blog_view{
    width: 100%;
    padding: 10px;
    background: var(--blue);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
}
ul.standard{
    margin-bottom: 20px;
    padding-left: 20px;
}
ul.standard li{
    list-style: disc;
}

ul.standard ::marker{
    color: var(--blue);
}
.blog_description iframe {
    width: 100%;
    height: 400px;
    padding: 50px;
    border: none;
}
